*{
    font-family: sans-serif;
    font-size: 20px;
}

.backgound {
    background-color: #f3f5f7;
    max-width: 305px;

}
header  h2{
    font-size: 30px;
    padding-left: 70px;
    padding-top: 25px;
}

header {
    border-radius: 5px;
    background-color: #ffffff;
    padding-left: 10px;
    
}

button {
    background-color: #007bff;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}